//- arguments
mj-section(background-color="#ffffff")
    mj-column
        mj-text Profitez de tous les avantages de la carte Pluxee Restaurant (anciennement Sodexo Pass)
mj-section(background-color="#ffffff" padding="0")
    mj-column(width="20px")
    mj-column(width="173,333333px" padding="10px" background-color="#ff7375")
        mj-image(padding="0" align="center" width="68px" src="https://i.ibb.co/fkygwhJ/p1-1.png")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="11px" font-weight="700" line-height="13px" color="#221c46") Faites-vous plaisir à la maison comme au bureau
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="11px" font-weight="400" line-height="13px" color="#221c46") Restaurants, boulangeries, grandes surfaces, plateformes de livraison... +de 250 000 points de vente disponibles.
    mj-column(width="20px")
        mj-spacer(height="20px")
    mj-column(width="173,333333px" padding="10px" background-color="#17ccf9")
        mj-image(padding="0" align="center" width="76px" src="https://i.ibb.co/BBbZQW7/p4.png")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="11px" font-weight="700" line-height="13px" color="#221c46") Payez comme vous voulez
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="11px" font-weight="400" line-height="13px" color="221c46") Sans contact ou avec votre smartphone, payez au centime près et sans limite grâce au complétement de paiement.
    mj-column(width="20px")
        mj-spacer(height="20px")
    mj-column(width="173,333333px" padding="10px" background-color="#ffdc37")
        mj-image(padding="0" align="center" width="68px" src="https://i.ibb.co/fkygwhJ/p1-1.png")
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="11px" font-weight="700" line-height="13px" color="#221c46") Gagnez du pouvoir d'achat
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="11px" font-weight="400" line-height="13px" color="#221c46") Profitez de réductions exclusives. Réalisez en moyenne jusqu'à 1 918 € d'économies grâce à des bons plans négociés. 
    mj-column(width="20px")
mj-section(background-color="#ffffff" padding="25px 20px")
    mj-column
        mj-button(padding="0" align="center" background-color="#00eb5e" border="3px solid #221c46" inner-padding="16px 30px" color="#221c46" font-family="Arial, Helvetica, sans-serif" font-size="16px" font-weight="700" line-height="120%") en savoir plus