mj-section(padding="20px")
    mj-column
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" font-weight="400" line-height="14px") Ce message vous est adressé par Altares pour vous présenter les services de son client.
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" font-weight="400" line-height="14px") Plus de détails sur l'envoi de cet email et nos engagements sont accessibles #[a(style="color:#0000ff" href="#") par ce lien].
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" font-weight="400" line-height="14px") Si vous souhaitez stopper la réception des emails d'Altares pour ce client, #[a(style="color:#0000ff" href="#") suivez ce lien],
        mj-text(padding="0" align="center" font-family="Arial, Helvetica, sans-serif" font-size="10px" font-weight="400" line-height="14px") ou la réception de tous nos envois, #[a(style="color:#0000ff" href="#") suivez cet autre lien].
